@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
body {
    font-family: 'Merriweather', serif;
    background: linear-gradient(45deg, rgba(22, 167, 175, 0.6) 5%, rgba(23, 27, 158, 0.7) 55%, rgba(68, 9, 82, 0.5) 100%) no-repeat;
    color: #222;
    background-image: url(pozadina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-color: #cfcfcf;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, .7);
}

html,
body {
    height: 100%;
}

.centar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 11%;
    z-index: 1000;
}

#hr,
#eng {
    cursor: pointer
}

.cards-wrapper {
    position: relative;
    height: 100%;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    display: block;
    float: left;
    position: relative;
    margin: 0;
    width: 28%;
    height: 0;
    padding: 0 0 40%;
    -webkit-perspective: 700px;
    perspective: 700px;
}

.card-object {
    color: #FFF;
    display: block;
    float: left;
    position: absolute;
    top: 6%;
    left: 6%;
    width: 88%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front {
    border-radius: 6px;
    box-shadow: 0 0 5px black;
}

.card-object.card-1 .front {
    background: #222 url(1.jpg) 100% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.card-object.card-2 .front {
    background: #222 url(3.jpg) 50% 90% no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.card-object.card-3 .front {
    background: #222 url(2.jpg) 47% 50% no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-object-hf .back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.face {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.face.front {
    z-index: 20;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.face.front::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: "";
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.2) 100%) no-repeat;
    opacity: .7;
    z-index: 20;
    transition: opacity .2s ease;
}

#naslov {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.face.front .title-wrapper {
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    z-index: 100;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: -webkit-transform .28s ease;
    transition: transform .28s ease;
    transition: transform .28s ease, -webkit-transform .28s ease;
    width: 100%;
    transform: translate(-25%, -50%);
}

.face.front .title-wrapper .title {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.8vw;
    line-height: 1;
    opacity: .8;
    transition: opacity .2s ease;
    text-shadow: 0px 0px 10px #008186;
}

.face.front .title-wrapper .title::after {
    display: block;
    margin: 7% auto 8% auto;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #fff;
    opacity: .5;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.face.front .title-wrapper .subtitle {
    font-size: 1.2vw;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: none;
    width: 50%;
    text-shadow: 0px 0px 10px #0094d2;
}

.face.front:hover::before {
    opacity: .9;
}

.face.front:hover .title-wrapper .title {
    opacity: 1;
}

.face.front:hover .title-wrapper .title::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .5;
    transition-delay: .15s;
    transition-duration: .2s;
    width: 60%;
    margin-top: 4%;
    margin-bottom: 6%;
    width: 50%;
}

.face.front:hover .title-wrapper .subtitle {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.face.back {
    color: #222;
    background: #fff;
    z-index: 10;
}

.info-container {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    top: 6%;
    right: 6%;
    bottom: 6%;
    left: 6%;
    padding: 0;
}

.img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38%;
    z-index: 10;
}

.img-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(14, 6, 70, 0.6);
    opacity: .7;
}

.avatar {
    position: absolute;
    left: 50%;
    height: 68%;
    width: 25.84%;
    display: block;
    border-radius: 50%;
    margin-top: 25.08%;
    margin-left: -12.92%;
    background-color: #fff;
    border: 3px solid #FFF;
    z-index: 20;
}

.info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50.92%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4% 15% 15%;
}

.info-title {
    font-size: 1.5vw;
    text-align: left;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
}

.info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8% 0 0;
    margin: 8% 0 0;
    border-top: 1px solid #e0e0e0;
}

.info-content-item {
    color: #222;
    font-size: .75vw;
    line-height: 1;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #aaa;
}

.info-content-item span {
    display: block;
    font-weight: bold;
    font-size: 1.1vw;
    margin-top: 7px;
    text-transform: none;
    color: #222;
}

.info {
    position: absolute;
    bottom: 30px;
    left: 5%;
    right: 5%;
    font-size: 1em;
    text-align: center;
}

.info a {
    color: #8c0f8c;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}


/* ----------------------------------------------
 * Generated by Animista on 2017-21-5 2:48:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation flip-2-hor-top-fwd
 * ----------------------------------------
 */

@-webkit-keyframes flip-2-hor-top-fwd {
    0% {
        -webkit-transform: translateY(0) translateZ(0) rotateX(0);
        transform: translateY(0) translateZ(0) rotateX(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
        transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}

@keyframes flip-2-hor-top-fwd {
    0% {
        -webkit-transform: translateY(0) translateZ(0) rotateX(0);
        transform: translateY(0) translateZ(0) rotateX(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
        transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}


/**
 * ----------------------------------------
 * animation flip-2-hor-bottom-fwd
 * ----------------------------------------
 */

@-webkit-keyframes flip-2-hor-bottom-fwd {
    0% {
        -webkit-transform: translateY(0) translateZ(0) rotateX(0);
        transform: translateY(0) translateZ(0) rotateX(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    100% {
        -webkit-transform: translateY(100%) translateZ(100px) rotateX(180deg);
        transform: translateY(100%) translateZ(100px) rotateX(180deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes flip-2-hor-bottom-fwd {
    0% {
        -webkit-transform: translateY(0) translateZ(0) rotateX(0);
        transform: translateY(0) translateZ(0) rotateX(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    100% {
        -webkit-transform: translateY(100%) translateZ(100px) rotateX(180deg);
        transform: translateY(100%) translateZ(100px) rotateX(180deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@media only screen and (max-width: 1024px) {
    .face.front .title-wrapper .title {
        font-size: 2.5vw
    }
    .face.front .title-wrapper .subtitle {
        font-size: 1.6vw
    }
    .centar {
        top: 18%
    }

}

@media only screen and (max-height: 1024px) {
    .card-wrapper {
        padding: 0 0 35%;
    }


}

@media only screen and (max-height: 800px) {
    .card-wrapper {
        padding: 0 0 30%;
    }
}

@media only screen and (max-width: 700px) {
    .centar {
        top: 25%
    }
    #naslov {
        font-size: 1.5rem
    }
    .face.front .title-wrapper .title {
        font-size: 3vw
    }
    .face.front .title-wrapper .subtitle {
        font-size: 2vw
    }
}

@media only screen and (max-width: 500px) {
    .card-wrapper {
        width: 40%
    }
    .face.front .title-wrapper .title {
        font-size: 4.5vw
    }
    .face.front .title-wrapper .subtitle {
        font-size: 3vw
    }
    .centar {
        top: 30%
    }
    .zastavice {
        height: 24px;
        width: 24px;
    }
}