html,
body {
    margin: 0;
    padding: 0;
    background-image: url(pozadina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    font-family: 'Minion Pro', serif;
    text-align: center;
    overflow-x: hidden;
    height: 100%;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, .7);
}

.tekst_uz_sliku {
    margin-top: 5px;
}

#navContent {
    margin: auto;
    width: 1200px;
    position: relative;
}

footer {
    display: none;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #008186;
}

#fix {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

#uputa {
    text-align: center;
    font-size: 24px;
    display: none;
}

#broj {
    display: none;
}

#game1 {
    margin: auto;
    width: 1200px;
    right: 0px;
    position: absolute;
    min-height: 800px;
}

#game2 {
    margin: auto;
    width: 1200px;
    right: -1200px;
    position: absolute;
    min-height: 800px;
}


/* The Modal (background) */

.modal {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.nazad {
    color: white;
    text-transform: uppercase;
}

footer .nazad {
    color: #008186;
    text-transform: uppercase;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #008186;
    color: white;
    border-top-left-radius: 20px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #008186;
    color: white;
    border-bottom-right-radius: 30px;
}

.questionText {
    font-size: 18px;
    text-align: center;
}

.pix {
    width: 300px;
    height: 300px;
    margin: 15px;
    float: left;
    cursor: pointer;
    background: white;
    border: #4FC5C8 solid 5px;
    margin-bottom: 100px;
}

.pix:not(.nohover):hover {
    border: #11676D solid 5px;
}

.nohover {
    cursor: default
}

.pix img {
    width: 300px;
    height: 300px;
}

#topbar {
    height: 100px;
    margin: auto;
    margin-top: 50px;
    color: #FFF;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
}

.spacer {
    height: 30px;
}

.feedback1 {
    padding: 5px;
    font-size: 30px;
    background-color: #E8F5E9;
    text-align: center;
    position: fixed;
    top: 40%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 3px solid #008186;
    left: 50%;
    transform: translateX(-50%);
}

.feedback2 {
    padding: 5px;
    font-size: 30px;
    background-color: #FFCDD2;
    text-align: center;
    position: fixed;
    top: 40%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 3px solid #008186;
    left: 50%;
    transform: translateX(-50%);
}

.dalje {
    font-size: 20px;
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.col img {
    width: 80%;
}


/*  COLUMN SETUP  */

#puhacki,
#zicni,
#udaracki {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#zicni:hover,
#puhacki:hover,
#udaracki:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: pointer;
}

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF THREE  */

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.13%;
}

.span_1_of_3 {
    width: 32.26%;
}

#wrap {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    display: -webkit-flex;
    flex-flow: row wrap;
}


/* Give the player a height & width of 0. Otherwise the player is visible on mobile devices (tested on iPhone 5). */

#player {
    height: 0;
    width: 0
}


/* Apologies for the large base64 image file */

.speaker {
    background-image: url(zvuk/zvucnik.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 100% 0;
    height: 64px;
    width: 60px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.speakerplay {
    background-position: 0 0;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */

@media screen and (max-width:1080px) {
    #navContent {
        width: 1000px;
    }
    #game1 {
        width: 1000px;
        right: 0px;
    }
    #game2 {
        width: 1000px;
        right: -1000px;
    }
    .pix {
        width: 220px;
        height: 220px
    }
    .pix img {
        width: 220px;
        height: 220px
    }
    #game1,
    #game2 {
        min-height: 600px
    }
}

@media screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3 {
        width: 100%;
    }
    #uputa {
        font-size: 14px;
    }
    .section {
        overflow-y: scroll;
        height: 500px;
    }
    .body {
        overflow-y: scroll;
    }
    .modal-header {
        font-size: 14px;
    }
    .col img {
        width: 50%;
    }
    #game1,
    #game2 {
        min-height: 300px
    }
    .feedback2,
    .feedback1 {
        font-size: 15px
    }
    #myModal {
        position: relative;
        top: inherit;
        left: inherit;
        transform: translate(0, 0)
    }
}

@media screen and (max-width:800px) {
    #topbar {
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
    }
    #navContent {
        margin: 1%;
        width: 98%;
    }
    #game1 {
        margin: 1%;
        width: 98%;
    }
    #game2 {
        margin: 1%;
        width: 98%;
    }
    .pix {
        width: 90px;
        height: 90px;
        margin: 20px;
    }
    .pix img {
        width: 90px;
        height: 90px
    }
    .speaker {
        height: 40px;
        width: 40px;
    }
    .tekst_uz_sliku {
        font-size: 12px;
        margin-top: 2px;
    }
    footer {
        margin-top: 30px;
    }
}


}
@media screen and (max-width:400px) {
    .pix {
        margin-top: 40px;
        border: 3px solid #4FC5C8;
    }
    
    .pix:not(.nohover):hover {
        border: 3px solid #11676D;
    }
    
    footer {
        margin-top: 30px;
    }
}
@keyframes border-pulsate {
    0% {
        border-color: #0d5748;
    }
    
    50% {
        border-color: rgba(0, 255, 255, 0);
    }
    
    100% {
        border-color: #0d5748;
    }
}
.pulsiranje {
    border: 10px solid cyan;
    animation: border-pulsate 2s infinite;
}
.swal2-modal h2 {
    font-style: italic;
    line-height: initial
}
.swal2-confirm {
    -webkit-touch-callout: none;
    /* iOS Safari */
    
    -webkit-user-select: none;
    /* Safari */
    
    -khtml-user-select: none;
    /* Konqueror HTML */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    
    user-select: none;
}
.ikona {
    width: 50px;
    height: 50px;
}